.git
.ddev
.idea
.vscode
node_modules
vendor
storage/app/images/*
storage/app/thumbs/*
storage/app/og/*
storage/app/users/*
storage/app/public/*
storage/app/tmp/*
storage/logs/*
.env*
!.env.example
docker.env
media/
db_snapshots/
